/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––
- Base Styles
- Grid
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries

*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  line-height: 1.25;
  font-weight: 400;
  font-family: "Verdana", "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: #252525;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: calc(100% - 20px);
  float: left;
  box-sizing: border-box;
}

.mini_container {
  border-radius: 5px;
  background-color: #111111;
  margin: 10px;
  padding: 10px 15px;
  position: relative;
  box-shadow: 2px 2px 2px #222222;
  width: 100%;
}

.pretty_container {
  border-radius: 5px;
  background-color: #111111;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #222222;
}

.box {
  width: calc(100% - 40px);
  margin: 0 auto;
  color: #ccc;
}

.subtitle {
  width: calc(100% - 40px);
  margin: 10px auto;
  color: #fff;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

/* For devices larger than 550px */
@media (min-width: 768px) {
  .container {
    width: 80%;
  }

  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: calc(33.3333333333% - 10px);
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: calc(50% - 10px);
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: calc(66.6666666667% - 10px);
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: calc(100% - 20px);
  }

  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }

  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}

/* Top and Bottom Bars */
.topnav {
  background-color: #111;
  height: 90px;
  margin-bottom: 20px;
}

.footer {
  background-color: #111;
  text-align: center;
  margin-top: 40px;
}

.topnav-content, .footer-content {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 10px;
}

#app_logo, .topnav-titles {
  display: inline-block;
}

#app_logo {
  margin-right: 10px;
}

#title {
  margin-top: -10px;
}

#tagline {
  color: #ccc;
}

/* Plotly Stuff */
.tank_chart {
  margin: 10px 10px 30px 10px;
}

.modebar {
  display: none !important;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0;
  font-weight: 400;
}

p {
  margin: 5px 0;
  font-size: 14px;
}

.notes {
  line-height: 1.5;
  text-align: justify;
}

/* Blockquotes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote {
  border-left: 4px lightgrey solid;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #ccc;
  cursor: pointer;
  margin-right: 20px;
}
a:hover {
  color: #fff;
}

/* Controls
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rc-slider-rail {
  background-color: #444;
}

.rc-slider-track {
  background-color: #6002EE;
}

.rc-slider-dot-active {
  border-color: #6002EE;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle-click-focused:focus {
  border: solid 2px #6002EE;
}

.rc-slider-mark-text {
  color: #ddd;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.control_label {
  margin: 0;
  padding: 5px 10px;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit; /*https://stackoverflow.com/questions/6080413/why-doesnt-input-inherit-the-font-from-body*/
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0px;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 0rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 0rem;
}
pre,
dl,
figure,
table,
form {
  margin-bottom: 0rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* For screens smaller than 550px */
@media (max-width: 768px) {
  .flex-display {
    display: block !important;
  }
  .mini_container {
    margin-bottom: 25px !important;
    border-radius: 5px;
    background-color: #111111;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px #222222;
  }
  #title, #subtitle {
    margin-bottom: 0px;
  }

  #cross-filter-options {
    width: calc(100% - 40px);
  }
}